@import "tailwindcss";

@layer utilities {
  /* Custom Scrollbar for Webkit browsers */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #0f0f0f; 
  }

  ::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}


